<li class="nav-item"><a class="nav-link" aria-current="page" href="{{ path('homepage') }}">Home</a></li>
{% for categ in categories %}
    <li class="nav-item"><a class="nav-link" aria-current="page"
                            href="{{ path("section", { 'slug' :  categ.sectionSlug }) }}">{{ categ.sectionTitle }}</a>
    </li>
{% endfor %}
    {% if is_granted("ROLE_USER") %}
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{{ path('app_logout') }}">Déconnexion</a>
        </li>
    {% else %}
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{{ path('app_login') }}">Connexion</a>
        </li>

    {% endif %}
    {% if is_granted("ROLE_ADMIN") %}
        <li class="nav-item">
            <a class="nav-link" href="{{ path('admin') }}">Administration</a>
        </li>
    {% endif %}

